.nav-top{
    background-color: #0F3244;
}

.nav-link{
  color: antiquewhite !important;
background-color: #FBB03B !important;
margin-left: 1em !important;
border-radius: 10%;
}

.btn-buscar{
    background-color: #FBB03B !important;
}

footer{
  background-color: #0F3244;
text-align: center;
color: white;
}


.edit-to{
  background-color:#0F3244;
  text-align: center;
  color: white;
  padding: 3em;
}
    
.fun-leg{
  background-color: rgba(0, 0, 0, 0.5);
margin-top: 1em;
}